<p>This filtered list includes only annotations from the following Ontologies:</p>
<ul>
<% Ontology.get_filter_list_ontologies(set).each do |ont| %>
<li><%= ont %></li>	
<% end %>
</ul>
<table id="filter_<%= set %>" class="annotations">
<%
tagcloud_text = Array.new
filtered = analysis.filter_and_group_annotations(set)
filtered.sort{|a,b| b[1][:count] <=> a[1][:count]}.each do |k| 
	tagcloud_text << (k[0].capitalize.gsub(/\s/,'-') + " ") * k[1][:count]
	%>

<tr><td class="term"><%= k[0].capitalize %></td><td class="term_count"><%= k[1][:count] %></td><td class="term_count"><%= "x" * k[1][:count] %></td></tr>
<% end %>

</table>

<h3>Tag Cloud Text</h3>
<%= tagcloud_text %>